.h1 {
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    color: rgb(30, 30, 68);
}
.h2 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: rgb(69, 69, 151);
}
.text {    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: black;
}
.list {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: black;
}
.footer {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: black;
}